.rainbow-text {
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  color: transparent;
  animation: slidegradient 4s infinite;
  height: 100vh;
}
@keyframes slidegradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
}

h1 {
  text-decoration: underline;
  text-align: center;
}


p1 {
  font-family: Helvetica, Arial, Sans-serif;
}
